@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ecf5ff;
}

h1 {
  color: #40514E;
  margin: 0 0 20px 0;
  text-align: center;
}

h3 {
  padding: 10px;
}

#header {
  margin: 10px 0;
  text-align: center;
}

.category-btn {
  margin: 15px 0;
}

.container {
  max-width: 500px;
  padding: 0 15px;
}

.input-group {
  margin: 30px 0 20px 0;
}

.question-tracker {
  text-align: center;
}

p {
  margin: 0;
}

#play {
  margin: 50px 0;
}

.input-icons {
  display:flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.incorrectAns {
  color: #721c24;
  background: #f8d7da;
}

.correct {
  background-color: #d4edda;;
  color: #155724;
}

.que-icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
}

.option {
  cursor: pointer;
}

.option:hover {
  background-color: #ecf5ff;
}